# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/
next-env.d.ts
.source

# Production
/build
/dist
/release

# Electron
/dist-electron
/release-builds

# Misc
.DS_Store
*.pem
*.local
.env*
!.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.vercel

# TypeScript
*.tsbuildinfo

# OS Generated
Thumbs.db
Desktop.ini
ehthumbs.db

# IDEs
.idea
.vscode
*.swp
*.swo

# Project Specific
build-pack/
titan/
server/
cli/target/
.cache/
*.log